<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context.xsd">
		
	<!-- <context:annotation-config/>	 -->
	
	<context:component-scan base-package="com.abc.springcore2"/>
	
		<!-- 	
	<bean id="pDao" class="com.abc.springcore2.dao.ProductDao"></bean>	
	
	<bean id="pService" class="com.abc.springcore2.service.ProductService">
		<property name="productDao" ref="pDao"/>
	</bean>	
	
	<bean id="pController" class="com.abc.springcore2.controller.ProductController">
		<property name="productService" ref="pService"/>
	</bean>	 -->
			
</beans>		
		